<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><a href="/tasks/<%= task.id %>"><%= task.name %></a></li>
  <% end %>
</ul>

<h2>Add a new Task</h2>

<form action="/tasks" method="post">
  <label for="task_name">Task Description</label>
  <input id="task_name" name="task" type="text" value="<%= @task.name %>">
  <button>Add Task</button>
</form>
