<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-5">
      {{#link-to 'new_task' class='btn btn-success'}}moar things!{{/link-to}}
      <br><br>

      <ul class="list-unstyled" id="task-list">
        {{#each itemController="task"}}
          <li {{bind-attr class="isCompleted:completed"}}>
            {{#link-to 'task' this}}{{name}}{{/link-to}}
          </li>
        {{/each}}
      </ul>

    </div>

    <div class="col-sm-6">
      {{outlet}}
    </div>

  </div>
</div>


