<h1 {{bind-attr class="isCompleted:completed"}}>{{name}}</h1>
<p>Are you done yet?
  {{input type="checkbox" checked=isCompleted class="toggle"}}
</p>
<br>

<button {{action "removeTask"}} class="destroy btn-sm btn-danger">burninate it!</button>
