<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-6">
      {{#link-to 'new_task' class='btn-sm btn-primary'}}new task{{/link-to}}


      <h4>{{name}}</h4>
      <ol>
        {{#each}}
        <li>{{#link-to 'task' this}}{{name}}{{/link-to}}</li>
        {{/each}}
      </ol>

    </div>

    <div class="col-sm-4">
      {{outlet}}
    </div>

  </div>
</div>


